{% extends 'index.html' %} {% block body %}

<!-- Page Header Start -->
<div
  class="container-fluid page-header py-5 mb-5 wow fadeIn"
  data-wow-delay="0.1s"
>
  <div class="container text-center py-5">
    <h1 class="display-2 text-dark mb-4 animated slideInDown">About Me</h1>
    <nav aria-label="breadcrumb animated slideInDown"></nav>
  </div>
</div>
<!-- Page Header End -->

<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6">
        <div class="row g-3 justify-content-center">
          <div class="col-6 text-end">
            <img
              class="img-fluid bg-white w-100 mb-3 wow fadeIn"
              data-wow-delay="0.1s"
              src="../static/images/image_test.jpeg"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
        <div class="section-title">
          <h1 class="display-6">Full Stack Developer and Data Scientist</h1>
        </div>
        <div class="row g-3 mb-4">
            <p class="mb-0" style="text-align: justify;">
              Eager Data Scientist and backend developer with a Love for Finance: I'm someone who
              loves playing with data to discover meaningful insights. Finance,
              stock markets, and economics are my jam - I find them super
              interesting! I'm not only dedicated and passionate about my work,
              but I'm also a team player who loves working together to achieve
              great things.
            </p>
            <p class="mb-0">Check out my Github repo for more interesting projects.</p>
        </div>
        <div class="border-top mb-4"></div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

{% endblock body %}
